h2 {
  color: tomato;
}

.bgColor {
  background-color: #D8E0E2;
}

/*.bgColor {
  background-color: #FFE1AC;
}*/

a{
  color: #2D2F63;
}

.textColor {
  color: #2D2F63;
}

.divMargin {
  margin-left: 80px;
  margin-top: 80px;
}

.marginRemove {
  margin-top: -14px;
  margin-bottom: -70;
}

.marginRight {
  margin-right: 50px;
}

.marginLeft {
  margin-left: 60px;
}

.margin {
  margin-right: 50px;
  margin-left: 50px;
}

.marginBottom {
  margin-bottom: 7px;
}

.uk-fixed-navigation {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

.footerCol {
  background: #2E3548;
  text-align:center;
  position:absolute;
  bottom:0;
  width: 100%;
  margin-bottom:-205px
}

.connect li {
    display:inline-block;
}

.formMargin {
  margin-bottom: 50px;
}

.sideText {
  margin-right: 20px;
  margin-top: 150px;
  font-family: Times New Roman;
}


/* FOR THE EMAIL RESPONSE TO STICK TO BOTTOM */
/*.wrapper {
  position:relative;
}

.bottom {
  position:absolute;
  bottom:0;
}*/
